Host {{ node_name }}
    User {{ kolla_user }}
    Hostname {{ gen_ip_ssh }}
    CheckHostIP no
    StrictHostKeyChecking no
    ServerAliveInterval 30
    IdentityFile "{{ kolla_ssh_key }}"
    IdentitiesOnly yes
    {% if is_remote %} ProxyJump {{ proxy_jump_host_name }} {% endif %}
